.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}